.game {
  width: 100%;
  height: 280px;
  border: 2px solid black;
  position: relative;
}

.game__bricks {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
      grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-gap: 6px;
  padding: 6px 6px;
      grid-template-areas: "a b c d e f" "g h i j k l" "m n o p q r";
}

.game__bricks * {
  background-color: #03301b;
  height: 25px;
  width: 92px;
}

.game__bricks .brick1 {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
  grid-area: a;
}

.game__bricks .brick2 {
  -ms-grid-row: 1;
  -ms-grid-column: 2;
  grid-area: b;
}

.game__bricks .brick3 {
  -ms-grid-row: 1;
  -ms-grid-column: 3;
  grid-area: c;
}

.game__bricks .brick4 {
  -ms-grid-row: 1;
  -ms-grid-column: 4;
  grid-area: d;
}

.game__bricks .brick5 {
  -ms-grid-row: 1;
  -ms-grid-column: 5;
  grid-area: e;
}

.game__bricks .brick6 {
  -ms-grid-row: 1;
  -ms-grid-column: 6;
  grid-area: f;
}

.game__bricks .brick7 {
  -ms-grid-row: 2;
  -ms-grid-column: 1;
  grid-area: g;
}

.game__bricks .brick8 {
  -ms-grid-row: 2;
  -ms-grid-column: 2;
  grid-area: h;
}

.game__bricks .brick9 {
  -ms-grid-row: 2;
  -ms-grid-column: 3;
  grid-area: i;
}

.game__bricks .brick10 {
  -ms-grid-row: 2;
  -ms-grid-column: 4;
  grid-area: j;
}

.game__bricks .brick11 {
  -ms-grid-row: 2;
  -ms-grid-column: 5;
  grid-area: k;
}

.game__bricks .brick12 {
  -ms-grid-row: 2;
  -ms-grid-column: 6;
  grid-area: l;
}

.game__bricks .brick13 {
  -ms-grid-row: 3;
  -ms-grid-column: 1;
  grid-area: m;
}

.game__bricks .brick14 {
  -ms-grid-row: 3;
  -ms-grid-column: 2;
  grid-area: n;
}

.game__bricks .brick15 {
  -ms-grid-row: 3;
  -ms-grid-column: 3;
  grid-area: o;
}

.game__bricks .brick16 {
  -ms-grid-row: 3;
  -ms-grid-column: 4;
  grid-area: p;
}

.game__bricks .brick17 {
  -ms-grid-row: 3;
  -ms-grid-column: 5;
  grid-area: q;
}

.game__bricks .brick18 {
  -ms-grid-row: 3;
  -ms-grid-column: 6;
  grid-area: r;
}

.game__ball {
  width: 30px;
  height: 30px;
  background-color: #610606;
  position: absolute;
  bottom: 30px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 50%;
}

.game__pad {
  height: 25px;
  width: 100px;
  background-color: #070744;
  position: absolute;
  bottom: 5px;
  right: 50%;
  -webkit-transform: translateX(50%);
          transform: translateX(50%);
}

.game-board {
  height: 50px;
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  border: 1px solid black;
}

.game-board .result, .game-board .controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 50%;
  height: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.game-board .result {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-right: 1px solid black;
}

.game-board .result hr {
  width: 100%;
}

.game-board .controls {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.game-board .controls button {
  width: 30%;
  height: 70%;
  font-size: 22px;
  border: none;
}

.game-board .controls .play-pause {
  background-color: darkgreen;
  color: white;
}

.game-board .controls .stop {
  background-color: darkred;
  color: white;
}

.game-board .controls select {
  height: 70%;
  background-color: #222020;
  font-weight: bold;
  color: white;
  text-align: center;
}

*, *::after, *::before {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
}

body {
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container {
  width: 600px;
  height: 330px;
}
/*# sourceMappingURL=style.css.map */