.game{
    width: 100%;
    height: 280px;
    outline: 2px solid black;
    position: relative;

    &__bricks{
        display: grid;
        grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
        grid-gap: 5px;
        padding: 5px 5px;
        grid-template-areas:
            "a b c d e f"
            "g h i j k l"
            "m n o p q r";

        *{
            background-color: rgb(3, 48, 27);
            height: 25px;
        };

        $areas : a b c d e f g h i j k l m n o p q r;

        @for $i from 1 through 18{
            .brick#{$i}{
                grid-area: nth($areas, $i);
            }
        }
 

    }

    &__ball{
        width: 30px;
        height: 30px;
        background-color: rgb(97, 6, 6);
        position: absolute;
        bottom: 30px;
        left: 285px;
        border-radius: 50%;

    }

    &__pad {
        height: 25px;
        width: 100px;
        background-color: rgb(7, 7, 68);
        position: absolute;
        bottom: 5px;
        left: 250px;
        // transform: translateX(50%);
    }
}